force-app/main/default/flows/Create_SBS_Engagement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Contact_to_Text</name>
        <label>Add Contact to Text</label>
        <locationX>1326</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>AllAuthorizedContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleAuthorizedContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Authorized_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Authorized_Contacts_Count</name>
        <label>Authorized Contacts Count</label>
        <locationX>644</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>AuthorizedCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetAuthorizedContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>How_Many_Authorized_Contacts</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ActiveEngagement</name>
        <choiceText>Active Engagement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Active Engagement</stringValue>
        </value>
    </choices>
    <choices>
        <name>AnalyticalServices</name>
        <choiceText>Analytics Add On</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Analytics Add On</stringValue>
        </value>
    </choices>
    <choices>
        <name>BairdVideoLibrary</name>
        <choiceText>Baird Video Library</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Baird Video Library</stringValue>
        </value>
    </choices>
    <choices>
        <name>BaseBudgetModel</name>
        <choiceText>Base Budget Model</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Base Budget Model</stringValue>
        </value>
    </choices>
    <choices>
        <name>BaseBudgetModelAddOn</name>
        <choiceText>Base Budget Model + Ref Add-On</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Base Budget Model + Ref Add-On</stringValue>
        </value>
    </choices>
    <choices>
        <name>BudgetModelAddOn</name>
        <choiceText>Budget Model Add-On (Operational Referendum)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Budget Model Add-On (Operational Referendum)</stringValue>
        </value>
    </choices>
    <choices>
        <name>EngagementSigned</name>
        <choiceText>Engagement Signed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Engagement Signed</stringValue>
        </value>
    </choices>
    <choices>
        <name>GeneralConsultationOther</name>
        <choiceText>General Consultation Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General Consultation Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>InvoiceCompleted</name>
        <choiceText>Invoice Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Invoice Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Invoicing</name>
        <choiceText>Invoicing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Invoicing</stringValue>
        </value>
    </choices>
    <choices>
        <name>MiniWorkshop</name>
        <choiceText>Mini Workshop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mini Workshop</stringValue>
        </value>
    </choices>
    <choices>
        <name>OpportunityIdentified</name>
        <choiceText>Opportunity Identified</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity Identified</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2StarPackageABMBVL</name>
        <choiceText>2 Star Package A (BM + BVL)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2 Star Package A (BM + BVL)</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2StarPackageABMBVLAddOn</name>
        <choiceText>&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;2 Star Package A (BM + BVL) + BM Add-On&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2 Star Package A (BM + BVL) + BM Add-On</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2StarPackageBAddOnPlusA</name>
        <choiceText>&lt;span style=&quot;font-size: 14.6667px; font-family: Calibri, sans-serif; color: rgb(0, 0, 0);&quot;&gt;2 Star Package B (BM + Analytics) + BM Add On + A&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2 Star Package B (BM + Analytics) + BM Add On + A</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2StarPackageBBM</name>
        <choiceText>&lt;span style=&quot;font-size: 14.6667px; font-family: Calibri, sans-serif; color: rgb(0, 0, 0);&quot;&gt;2 Star Package B (BM + Analytics)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2 Star Package B (BM + Analytics)</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2StarPackageBBMAddOn</name>
        <choiceText>2 Star Package B (BM + Analytics) + BM Add-On</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2 Star Package B (BM + Analytics) + BM Add-On</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2StarPackageBBMAnalyticsA</name>
        <choiceText>&lt;span style=&quot;font-size: 14.6667px; font-family: Calibri, sans-serif; color: rgb(0, 0, 0);&quot;&gt;2 Star Package B (BM + Analytics) + A&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2 Star Package B (BM + Analytics) + A</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3StarPackage</name>
        <choiceText>3 Star Package</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 Star Package</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3StarPackageBMAddOn</name>
        <choiceText>&lt;span style=&quot;font-size: 14.6667px; font-family: Calibri, sans-serif; color: rgb(0, 0, 0);&quot;&gt;3 Star Package + BM Add On&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 Star Package + BM Add On</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3StarPackageBMAddOnPlusA</name>
        <choiceText>&lt;span style=&quot;font-size: 14.6667px; font-family: Calibri, sans-serif; color: rgb(0, 0, 0);&quot;&gt;3 Star Package + BM Add On + A&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 Star Package + BM Add On + A</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3StarPackagePlusA</name>
        <choiceText>3 Star Package + A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 Star Package + A</stringValue>
        </value>
    </choices>
    <decisions>
        <name>How_Many_Authorized_Contacts</name>
        <label>How Many Authorized Contacts</label>
        <locationX>644</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Loop_Authorized_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AuthorizedCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Contacts</targetReference>
            </connector>
            <label>Zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_KYC_Checkbox_Selected</name>
        <label>Is KYC Checkbox Selected</label>
        <locationX>1238</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>KYC_Checkbox_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Checkbox Not Selected</defaultConnectorLabel>
        <rules>
            <name>Checkbox_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Verify_KYC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_User_Contact_Firm</targetReference>
            </connector>
            <label>Checkbox Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Required_Fields</name>
        <label>Required Fields</label>
        <locationX>842</locationX>
        <locationY>1694</locationY>
        <defaultConnector>
            <targetReference>Create_New_SBS_Engagement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Upload_Date_Only_Missing</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Engagement_Letter_Upload_Date</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Offering_or_Services_Role</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Invoicing</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InvoiceCompleted</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Engagement_Letter_Date_Required_Only</targetReference>
            </connector>
            <label>Upload Date Only Missing Last 2 Stages</label>
        </rules>
        <rules>
            <name>Offering_Service_Type_Only_Missing</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Offering_or_Services_Role</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Engagement_Letter_Upload_Date</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Invoicing</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InvoiceCompleted</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Offering_Services_Type_Required_Only</targetReference>
            </connector>
            <label>Offering Service Type Only Missing</label>
        </rules>
        <rules>
            <name>Both_Fields_Missing</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Offering_or_Services_Role</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Engagement_Letter_Upload_Date</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Invoicing</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InvoiceCompleted</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Date_And_Offering_Services_Type_Required</targetReference>
            </connector>
            <label>Both Fields Missing</label>
        </rules>
        <rules>
            <name>Upload_Date_Active_Stage_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Engagement_Letter_Upload_Date</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActiveEngagement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Engagement_Letter_Date_Required_Only_0</targetReference>
            </connector>
            <label>Upload Date Active Stage Missing</label>
        </rules>
    </decisions>
    <description>added additional outcome to Required fields Decision point.</description>
    <dynamicChoiceSets>
        <name>AnticipatedRevenueMonthPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Anticipated_Revenue_Month__c</picklistField>
        <picklistObject>Engagement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Choices pulled from Baird Role metadata</description>
        <name>SBS_Offering_and_Service</name>
        <dataType>String</dataType>
        <displayField>Offering_and_Services_Type__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBS Engagement</stringValue>
            </value>
        </filters>
        <object>Baird_Role_Metadata__mdt</object>
        <outputAssignments>
            <assignToReference>OfferingAndServiceMetadataSelected</assignToReference>
            <field>Offering_and_Services_Type__c</field>
        </outputAssignments>
        <sortField>Offering_and_Services_Type__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Offering_and_Services_Type__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>KYCVerifiedBy</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} + &quot; &quot; + {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>KYCVerifiedDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Create SBS Engagement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create SBS Engagement</label>
    <loops>
        <name>Loop_Authorized_Contacts</name>
        <label>Loop Authorized Contacts</label>
        <locationX>1238</locationX>
        <locationY>518</locationY>
        <collectionReference>GetAuthorizedContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Contact_to_Text</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Issuer_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_SBS_Engagement</name>
        <label>Create New SBS Engagement</label>
        <locationX>1370</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>SBS_Engagement_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Analytical_Services_Fee__c</field>
            <value>
                <elementReference>Get_Services_Fee_Metadata.Default_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Anticipated_Revenue_Month__c</field>
            <value>
                <elementReference>Anticipated_Revenue_Month</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Anticipated_Revenue_Year__c</field>
            <value>
                <elementReference>Anticipated_Revenue_Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bairds_Role__c</field>
            <value>
                <stringValue>General Consultant - SBS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>BranchId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consultant__c</field>
            <value>
                <elementReference>Consultant.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Bid_Sale__c</field>
            <value>
                <elementReference>Sale_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement_Letter_Upload_Date__c</field>
            <value>
                <elementReference>Engagement_Letter_Upload_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Description__c</field>
            <value>
                <elementReference>Issue_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issuer_Name__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KYC_Special_Instructions__c</field>
            <value>
                <elementReference>KYC_Special_Directions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KYC_Verified_By__c</field>
            <value>
                <elementReference>KYCVerifiedBy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KYC_Verified_Date__c</field>
            <value>
                <elementReference>KYCVerifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offering_or_Services_Type__c</field>
            <value>
                <elementReference>SBS_Offering_and_Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_SBS_Engagement_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </inputAssignments>
        <object>Engagement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Authorized_Contacts</name>
        <label>Get Authorized Contacts</label>
        <locationX>644</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Authorized_Contacts_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Authority_to_Direct_Client_s_Activities__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>GetAuthorizedContacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>Phone</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_User_Contact_Firm</name>
        <label>Get Current User Contact Firm</label>
        <locationX>842</locationX>
        <locationY>1334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_SBS_Engagement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Salesforce_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Issuer_Id</name>
        <label>Get Issuer Id</label>
        <locationX>1238</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SBS_Engagement_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SBS_Engagement_Record_Type</name>
        <label>Get SBS Engagement Record Type</label>
        <locationX>1238</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Know_Your_Client</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBS Engagement</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Services_Fee_Metadata</name>
        <label>Get Services Fee Metadata</label>
        <locationX>842</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Required_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Offering_or_Services_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OfferingAndServiceMetadataSelected</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Default_Analytical_Services_Fee__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Date_And_Offering_Services_Type_Required</name>
        <label>Date and Offering Services Type Required</label>
        <locationX>842</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Both_Fields_Required</name>
            <fieldText>&lt;p&gt;The Engagement Letter Upload Date and Offering or Services Type are required.  Click Previous to return and enter a date and type.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Engagement_Letter_Date_Required_Only</name>
        <label>Engagement Letter Date Required Only</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DateIsRequired_0_0</name>
            <fieldText>&lt;p&gt;The Engagement Letter Upload Date is required.  Click Previous to return and enter a date.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Engagement_Letter_Date_Required_Only_0</name>
        <label>Engagement Letter Date Required Only</label>
        <locationX>1106</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DateIsRequired_0_0_0_0</name>
            <fieldText>&lt;p&gt;The Engagement Letter Upload Date is required.  Click Previous to return and enter a date.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Know_Your_Client</name>
        <label>Know Your Client</label>
        <locationX>1238</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_KYC_Checkbox_Selected</targetReference>
        </connector>
        <fields>
            <name>VerifyKYC</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Verify KYC&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorizedContactsHeader</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Authorized Contacts&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorizedContactList</name>
            <fieldText>&lt;p&gt;{!AllAuthorizedContacts}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Know_Your_Client_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Know_Your_Client_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CheckThisBox</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14.6667px; font-family: Calibri, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Check this box to indicate that you have reviewed: A.) Client details such as contact information, organization type, sector, etc. and B.) The list of contacts with authority to direct client activities.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Know_Your_Client_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Verify_KYC</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Verify KYC</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Know_Your_Client_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Know_Your_Client_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ClientSpecialDirections</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14.6667px; font-family: Calibri, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Client Special Directions&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.6667px; font-family: Calibri, sans-serif; color: rgb(0, 0, 0);&quot;&gt;﻿The firm is to use reasonable diligence during the course of the engagement to know the essential facts concerning the client as may be needed with respect to any actions that the firm is called upon to take, including pursuant to any special direction from the client, during the course of the engagement. Depending on the specific action, the firm may already have the information it needs, or it may need to make further inquiries of its client, to fulfill this responsibility.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Know_Your_Client_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>KYC_Special_Directions</name>
                    <fieldText>KYC Special Directions</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Know_Your_Client_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Know_Your_Client_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>You must.  Click Previous.</description>
        <name>KYC_Checkbox_Required</name>
        <label>KYC Checkbox Required</label>
        <locationX>1634</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CheckboxRequiredText</name>
            <fieldText>&lt;p&gt;You must select the KYC Verified checkbox on the previous screen.  Click Previous to return.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_SBS_Engagement</name>
        <label>New SBS Engagement</label>
        <locationX>842</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Services_Fee_Metadata</targetReference>
        </connector>
        <fields>
            <name>New_SBS_Engagement_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_SBS_Engagement_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IssuerNameDisplay</name>
                    <fieldText>&lt;p&gt;Issuer Name&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>IssuerName</name>
                    <fieldText>&lt;p&gt;{!Get_Issuer_Id.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FirmLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Branch__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Branch</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Engagement__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Current_User_Contact_Firm.Account.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>BranchId</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>BranchName</assignToReference>
                        <name>recordName</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>BairdsRoleDisp</name>
                    <fieldText>&lt;p&gt;Baird&apos;s Role&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Consultant - SBS&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Offering_or_Services_Role</name>
                    <choiceReferences>SBS_Offering_and_Service</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Offering or Services Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Issue_Description</name>
                    <fieldText>Issue Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>AnalyticalServiceFeeText</name>
                    <fieldText>&lt;p&gt;The &lt;b&gt;Analytical Services Fee&lt;/b&gt; will be populated with a default value based on the &lt;b&gt;Offering/Services Type&lt;/b&gt;. This value can be adjusted using the &lt;b&gt;Service Fee Adjustment&lt;/b&gt; if necessary by editing the Engagement later.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_SBS_Engagement_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Consultant</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Consultant__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Consultant</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Engagement__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Offering_or_Services_Role</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>General Consultation - Other</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Anticipated_Revenue_Month</name>
                    <choiceReferences>AnticipatedRevenueMonthPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Anticipated Revenue Month</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Anticipated_Revenue_Year</name>
                    <dataType>String</dataType>
                    <fieldText>Anticipated Revenue Year</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The length of the Anticipated Revenue Year field must be 4 characters and the value must be greater than or equal to the current year.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(LEN({!Anticipated_Revenue_Year}) = 4,
VALUE( {!Anticipated_Revenue_Year} ) &gt;= YEAR(TODAY())
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Sale_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Sale Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Stage</name>
                    <choiceReferences>OpportunityIdentified</choiceReferences>
                    <choiceReferences>EngagementSigned</choiceReferences>
                    <choiceReferences>ActiveEngagement</choiceReferences>
                    <choiceReferences>Invoicing</choiceReferences>
                    <choiceReferences>InvoiceCompleted</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Stage</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Engagement_Letter_Upload_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Engagement Letter Upload Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Stage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Invoicing</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Stage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>InvoiceCompleted</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Stage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ActiveEngagement</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Contacts</name>
        <label>No Contacts</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoContactsText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;No contacts have been authorized to direct client activities.  The engagement cannot be created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Offering_Services_Type_Required_Only</name>
        <label>Offering Services Type Required Only</label>
        <locationX>578</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DateIsRequired_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The Offering and Services Type is required.  Click Previous to return and enter a type.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SBS_Engagement_Created</name>
        <label>SBS Engagement Created</label>
        <locationX>1370</locationX>
        <locationY>1934</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SBSEngagementCreatedDisp</name>
            <fieldText>&lt;p&gt;The new SBS engagement has been created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Authorized_Contacts</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>SingleAuthorizedContact</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Loop_Authorized_Contacts.FirstName} {!Loop_Authorized_Contacts.LastName} - {!Loop_Authorized_Contacts.Title}&lt;/p&gt;&lt;p&gt;{!Loop_Authorized_Contacts.Phone}&lt;/p&gt;&lt;p&gt;{!Loop_Authorized_Contacts.Email}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AllAuthorizedContacts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AuthorizedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>BranchId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BranchName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GetAuthorizedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>OfferingAndServiceMetadataSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
